Client/Client/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/IBlogService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IBlogService" />
  <xs:element name="getAllBlog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IBlogService" minOccurs="0" name="getAllBlogResult" nillable="true" type="q1:ArrayOfMyBlog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IBlogService" minOccurs="0" name="getBlogResult" nillable="true" type="q2:MyBlog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IBlogService" minOccurs="0" name="getUserAllResult" nillable="true" type="q3:ArrayOfMyUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="blogger_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blog_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blog_details" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blog_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertBlogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="blogger_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blog_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blog_details" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blog_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateBlogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteBlogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>